@import 'reset';
@import 'variables';

html, body {
  height: 100%;
}

body {
  font-family: 'Soleil', sans-serif;
  font-size: 14px;
  background: #F4F9FC;
}

input {
  font-family: 'Soleil', sans-serif;
}
