@import './../../styles/variables';
@import './../../styles/mixins';

:host {
  display: flex;
  align-items: stretch;
  height: 100%;
  padding-top: $unit * 5;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $unit * 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0 ($unit * 2.5);
  .logo {
    height: $unit;
    width: $unit * 7;
    background: url("./../../assets/cobiro-logo.svg") left no-repeat;
  }

  .menu {
    display: flex;
    align-items: center;
    img {
      display: inline-block;
      width: $unit * 2;
      height: $unit * 2;
      border-radius: 100%;
    }
    p {
      font-weight: 600;
      color: #002D4F;
      padding: ($unit / 4) ($unit * 3 / 2) ($unit / 4) ($unit / 2);
      margin-left: $unit / 2;
      cursor: pointer;
      @include disable-selection;
      position: relative;
      &:before, &:after {
        content: '';
        position: absolute;
        top: $unit * 3 / 4;
        right: ($unit / 2);
        width: $unit / 2;
        height: $unit / 4;
        background: url("./../../assets/icon-chevron-down.svg") center no-repeat;
        transition: top 100ms ease-out;
      }
      &:hover {
        &:after {
          top: $unit;
        }
      }
    }
  }
}

.sidebar {
  flex-basis: $unit * 15;
  background: white;
  padding: $unit * 2.5;
  img {
    width: 100%;
  }
  p {
    text-align: center;
    font-weight: 600;
    color: #002D4F;
    margin-top: $unit * .25;
  }
  ul {
    margin-top: $unit * 2.5;
    li {
      position: relative;
      left: -($unit / 2);
      width: calc(100% + #{$unit});
      line-height: $unit * 2.5;
      font-weight: 600;
      color: #4C6C83;
      padding-left: $unit / 2;
      transition: padding-left 200ms ease-out;
      @include disable-selection;
      &:not(:first-child) {
        margin-top: 10px;
      }
      &:hover {
        cursor: pointer;
        padding-left: $unit;
      }
    }
  }
}

.content {
  flex-basis: calc(100% - #{$unit} * 15);
  input {}
  ul {
    li {
      span {}
      button {}
    }
  }
}

