<div class="header">
  <div class="logo"></div>
  <div class="menu">
    <img src="./../../assets/avatar.png">
    <p>Paweł</p>
  </div>
</div>

<div class="sidebar">
  <img src="./../../assets/customer-screenshot.png">
  <p>hairstylist.com</p>
  <ul>
    <li>Marketing Plan</li>
    <li>Dashboard</li>
    <li>My Ads</li>
    <li>Analytics</li>
    <li>Cobiro Store</li>
  </ul>
</div>

<div class="content">
  <form>
    <input type="text" placeholder="Search">
  </form>
  <ul>
    <li class="indent-0">
      <span>Item 1</span>
      <button>Button</button>
    </li>
    <li class="indent-1">
      <span>Item 2</span>
      <button>Button</button>
    </li>
    <li class="indent-2">
      <span>Item 3</span>
      <button>Button</button>
    </li>
  </ul>
</div>
